body {
  background-color: #2D882D;
}

#app {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.digit {
  position: absolute;
}

.pixel {
}

.right {
  background-size: 100% 100%;
  background-image: url("../graphics/stripes.svg");
}

.left {
  background-size: 100% 100%;
  background-image: url("../graphics/stripes.svg");
  transform: rotate(90deg);
}
