body {
  background-color: #2D882D;
  margin: 0px;
  color: #004400;
}
a, a:visited {
  color: #004400;
}

a:hover {
  color: #116611;
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-image: url("../graphics/stripesDiagonal.svg");
}

.footer {
  position: relative;
  text-align: center;
  background-color: #2D882D;
  height: 1.4em;
  margin-top: -1.4em;
  font-size: 1em;
}

.footer a {
  padding: 0 1em;
}

.dateTime {
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.digit {
  position: absolute;
}

.pixel {
}

.right {
  background-size: 100% 100%;
  background-image: url("../graphics/stripesDiagonal.svg");
}

.left {
  background-size: 100% 100%;
  background-image: url("../graphics/stripesDiagonal.svg");
  transform: rotate(90deg);
}

.spoiled {
  background-size: 100% 100%;
  background-image: url("../graphics/stripesDiagonalSpoiled.svg");
  transform: rotate(90deg);
}
